
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin']" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['merchant']" routerLinkActive="active">Merchant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['customer']" routerLinkActive="active">Customer</a>
      </li>
    </ul>
  </nav>
  <div>
    <h3>
      <router-outlet></router-outlet>
    </h3>
  </div>
